<h1>Welcome to miniyelp</h1>
<h2>This website is based on <a href="http://www.baserails.com">BaseRails</a>,a platform that teachers people to build awesome custom websites with the Ruby on Rails programming language</h2>
